*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.gz

*.log

bin/mcmod.info

bin/assets/amalgam/textures/items/stoneTongsFull.pxm

bin/assets/amalgam/textures/items/stoneTongsFull.png

bin/assets/amalgam/textures/items/stoneTongs.png

bin/assets/amalgam/textures/items/amalgamBlob.png

bin/assets/amalgam/textures/blocks/stoneCrucible.png

bin/assets/amalgam/lang/en_US.lang

*.prefs

.project

.classpath
